.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-text-1 {
  font-family: "Courier Prime";
  margin: 29px auto 60px 96px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -149px;
    margin-left: 15px;
  }
}