.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-family: "Courier Prime";
  margin: 78px auto 60px 185px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 88px;
  }
}