.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-text-1 {
  font-family: "Courier Prime";
  font-size: 1.0625rem;
  margin: 38px 70px 0 98px;
}

.u-section-1 .u-text-2 {
  font-family: "Courier Prime";
  margin: 88px 84px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -378px;
    margin-right: 13px;
    margin-left: -13px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 63px;
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -155px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1432px;
}

.u-section-2 .u-image-1 {
  width: 479px;
  height: 319px;
  margin: 13px auto 0 91px;
}

.u-section-2 .u-image-2 {
  width: 468px;
  height: 319px;
  margin: -319px 77px 0 auto;
}

.u-section-2 .u-text-1 {
  font-family: "Courier Prime";
  margin: 76px auto 0 95px;
}

.u-section-2 .u-image-3 {
  width: 476px;
  height: 309px;
  margin: 13px auto 0 94px;
}

.u-section-2 .u-image-4 {
  width: 468px;
  height: 309px;
  margin: -309px 77px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: "Courier Prime";
  margin: 77px auto 0 94px;
}

.u-section-2 .u-image-5 {
  width: 468px;
  height: 323px;
  margin: 0 77px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 481px;
  height: 323px;
  margin: -323px auto 0 89px;
}

.u-section-2 .u-text-3 {
  font-family: "Courier Prime";
  margin: 215px auto 1px;
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 352px;
    height: 235px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 360px;
    height: 235px;
    margin-top: -235px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 360px;
    height: 234px;
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 360px;
    height: 233px;
    margin-top: -234px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 348px;
    height: 232px;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    width: 360px;
    height: 240px;
    margin-top: -232px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 380px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1918px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 7px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 222px;
    margin-top: 20px;
  }

  .u-section-2 .u-text-1 {
    width: 269px;
    margin-top: 77px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 221px;
    margin-top: 12px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 220px;
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 71px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 227px;
    margin-top: 7px;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 227px;
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    width: 199px;
    margin-top: 140px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1335px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 25px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 380px;
  margin: -380px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 570px;
  height: 373px;
  margin: 14px auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 570px;
  height: 380px;
  margin: -375px 0 0 auto;
}

.u-section-3 .u-image-5 {
  width: 570px;
  height: 375px;
  margin: 9px auto 0 0;
}

.u-section-3 .u-image-6 {
  width: 570px;
  height: 375px;
  margin: -375px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 313px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -313px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3713px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 240px;
  }

  .u-section-3 .u-image-2 {
    width: 326px;
    height: 218px;
    margin-top: -240px;
  }

  .u-section-3 .u-image-3 {
    width: 292px;
    height: 191px;
    margin-top: 56px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-4 {
    width: 319px;
    height: 213px;
    margin-top: -186px;
    margin-right: 14px;
  }

  .u-section-3 .u-image-5 {
    width: 243px;
    height: 162px;
    margin-top: 61px;
    margin-left: 38px;
  }

  .u-section-3 .u-image-6 {
    width: 308px;
    height: 203px;
    margin-top: -162px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3593px;
  }

  .u-section-3 .u-image-1 {
    width: 270px;
    height: 180px;
  }

  .u-section-3 .u-image-2 {
    height: 217px;
    margin-top: 20px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2801px;
  }

  .u-section-3 .u-image-1 {
    height: 226px;
    margin-top: -68px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-5 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-6 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}