.u-section-1 .u-sheet-1 {
  min-height: 957px;
}

.u-section-1 .u-text-1 {
  font-family: "Courier Prime";
  font-weight: 400;
  margin: 43px auto 0 95px;
}

.u-section-1 .u-text-2 {
  font-family: "Courier Prime";
  font-weight: 400;
  margin: 233px 43px 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -146px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-weight: 700;
    margin-top: 28px;
    margin-right: auto;
    margin-left: -23px;
  }
}